USE [master]
GO
/****** Object:  Database [LBDD]    Script Date: 08/31/2019 13:02:32 ******/
IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = N'LBDD')
BEGIN
CREATE DATABASE [LBDD] ON  PRIMARY 
( NAME = N'LBDD', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\LBDD.mdf' , SIZE = 2304KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'LBDD_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\LBDD_log.LDF' , SIZE = 576KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
END
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LBDD].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
